body {
  box-sizing: border-box;
}
.button-div {
  display: inline-block;
  height: 50px;
  width: 20%;
  text-align: center;
}

.btn {
  background-color: #0b0b0b;
  color: #C0C0C0;
  height: 30px;
  width: 90px;
  margin: 8px;
}


/***Media Queries***/
@media screen and (max-width: 670px) {
  .btn {
    font-size: 75%;
    width: 70px;
  }
}
