body,
html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.scroller {
  background: url('../images/starrynight.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding: 10px;
  height: 200%;
  width: 25%;
  perspective: 1500px;
  text-align: justify;
}

.scroller-txt,
.scroller-title,
.release-date {
  color: #dba622;
  line-height: 225%;
}

.scroller-txt {
  font-size: 170%;
}

.scroller-title {
  font-size: 250%;
  font-weight: bold;
  margin-bottom: 1px;
  margin-top: 50px;
  text-transform: uppercase;
}

.release-date {
  margin-top: 0;
  font-size: 210%;
}

.scroller-title,
.release-date {
  display: flex;
  justify-content: center;
  align-items: center;
}

.crawl {
   position: relative;
   top: 0;
   transform-origin: 70% 100%;
   animation: 30s crawl linear infinite;
}

@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -5000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}
