body {
  box-sizing: border-box;
}

.scroller {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 25%;
  overflow: hidden;
  perspective: 400px;
  background-color: #670404;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}

.scroller-txt {
}

.scroller-txt,
.scroller-title,
.release-date {
  color: #dba622;
  line-height: 30px;
  width: 85%;
}

.scroller-txt {
   font-size: 18px;
}

.scroller-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1px;
  margin-top: 50px;
}

.release-date {
  margin-top: 0;
 font-size: 20px;
}

.scroller-title,
.release-date {
  display: flex;
  justify-content: center;
  align-items: center;
}
