.card-container {
  background-color: 	#dba622;
  color: #0b0b0b;
  display: flex;
  flex-wrap: wrap;
  height: 66vh;
  justify-content: center;
  overflow-y: scroll;
}
.favorites-empty {
  font-size: 40px;
  font-weight: bold;
  text-shadow: 1px 1px 2px black, 0 0 25px #dba622, 0 0 5px #dba622;
}

.card-view {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
