/*APP COMPONENT RELATED CSS GOES HERE*/
body {
  box-sizing: border-box;
  background-color: #670404;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.app-body {
  display: flex;
  height: 100vh;
}

main {
  flex: 2;
}
