body {
  box-sizing: border-box;
}
.card {
  background-color: #0b0b0b;
  border: 1px solid black;
  color: #C0C0C0;
  margin-bottom: 10px;
  padding: 5px;
  width: 250px;
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}
.card-fav-btn {
  background: url(star.png);
  background-size: cover;
  float: right;
  height: 45px;
  padding: 5px;
  width: 45px;
}
