body {
  box-sizing: border-box;
}
.card {
  background-color: #0b0b0b;
  border: 1px solid black;
  color: #C0C0C0;
  margin-bottom: 10px;
  padding: 5px;
  width: 250px;
}
.card-fav-btn {
  float: right;
  height: 50px;
  width: 50px;
}
