body {
  box-sizing: border-box;
}
.card {
  background-color: #0b0b0b;
  border: 1px solid black;
  color: #C0C0C0;
  margin: 10px;
  padding: 5px;
  text-align: center;
  width: 29%;
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.card-name {
  border-bottom: 1px solid dimgrey;
  font-size: 20px;
  padding-bottom: 10px;
}

.card-unfav-btn {
  background: url(../images/goldstar.png);
  background-size: cover;
  border-style: none;
  float: right;
  height: 35px;
  padding: 5px;
  width: 35px;
}
.card-fav-btn {
  background: url(../images/silverstar.png);
  background-size: cover;
  border-style: none;
  float: right;
  height: 35px;
  padding: 5px;
  width: 35px;
}

/***Media Queries***/

@media screen and (max-width: 500px) {
  .card {
    text-align: center;
    width: 80%;
  }
}

@media screen and (min-width: 500px) and (max-width: 520px){
  .card {
    width: 60.66%;
  }
}

@media screen and (min-width: 520px) and (max-width: 700px){
  .card {
    width: 42.66%;
  }
}

@media screen and (min-width: 700px) and (max-width: 793px){
  .card {
    width: 28%;
  }
}

@media screen and (min-width: 793px) and (max-width: 1010px){
  .card {
    width: 29%;
  }
}
