.header-container {
  display: flex;
  height: 25vh;
  justify-content: space-around;
  margin: 0 auto;
  width: 75%;
}

.header-title {
  font-size: 75px;
  text-shadow: 1px 1px 2px black, 0 0 25px #dba622, 0 0 5px #dba622;
}

/***Media Queries***/
@media screen and (min-width: 320px) and (max-width: 490px) {
  .header-title {
   font-size: 52px;
   text-align: center;
  }
}

@media screen and (min-width: 490px) and (max-width: 670px) {
  .header-title {
   font-size: 65px;
  }
}
