body {
  box-sizing: border-box;
}

.header-container {
  display: flex;
  justify-content: space-around;
  width: 75%;
  margin: 0 auto;
}
.header-title {
  font-size: 75px;
  text-shadow: 1px 1px 2px black, 0 0 25px #dba622, 0 0 5px #dba622;
}
